img.resize{
	height:100px;
	width:200px;
}

div.picture{
	
	margin:300px 0px 0px 400px;
}
input.textboxsize{
	
	margin:0px 0px 0px 400px;
	width:200px;
	height:20px;
}

input.textboxsize:hover{
	
	background-color:yellow;
}
div.navigation{
	
	margin:0px 0px 0px 325px;
	
}
#navbar li{
	display:inline;
	border-radius:10px;
	background-color:violet;
}